<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruyi.teach.mapper.CourseGraphPreferenceMapper">

    <select id="selectByTeacherId" resultType="com.ruyi.teach.model.entity.CourseGraphPreference">
        select
            teacherId,
            focusedNodeIds,
            recentVisitedNodeIds,
            recentEditedNodeIds,
            createTime,
            updateTime
        from course_graph_preference
        where teacherId = #{teacherId}
        limit 1
    </select>

</mapper>
